<nav class="uk-navbar-container" uk-navbar>
  <div class="uk-navbar-left">

      <ul class="uk-navbar-nav">
          <li class="uk-active"><a routerLink="/home">Skilly</a></li>
          <li><a routerLink="/myskills">My skills</a></li>
          <li><a routerLink="/skills">skills</a></li>
          <li><a routerLink="/login" *ngIf="!isLoggedIn">log in</a></li>
          <li><a routerLink="/register" *ngIf="!isLoggedIn">sign up</a></li>
      </ul>

  </div>

  <div class="uk-navbar-right">
      <ul class="uk-navbar-nav">
          <li *ngIf="isLoggedIn">
              <a href="#">User Name</a>
              <div class="uk-navbar-dropdown">
                  <ul class="uk-nav uk-navbar-dropdown-nav">
                      <li><a routerLink="/user">Profile</a></li>
                      <li><a routerLink="/add">add</a></li>
                      <li><a (click)="logout()">log out</a></li>
                      
                  </ul>
              </div>
          </li>
      </ul>

</div>
</nav>