<div class="uk-padding">
    <table class="uk-table uk-table-striped">
        <thead>
            <tr>
                <th>$key</th>
                <th>Name</th>

                <th>Skill</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of itemArray">
                <td>{{item.$key}}</td>
                <td>{{item.name}}</td>
                <td>{{item.skill}}</td>
                <td> <button class="uk-button uk-button-primary uk-button-small" (click)="moreInfo(item.$key)">More details</button></td>
            </tr>
        </tbody>
    </table>
</div>
