<div class="uk-padding">
    <table class="uk-table uk-table-striped">
        <thead>
            <tr>
                <th>$key</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Price</th>
                <th>Skill</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of itemArray" [hidden]="item.uid !== myUid">
                <td>{{item.$key}}</td>
                <td>{{item.name}}</td>
                <td>{{item.phone}}</td>
                <td>{{item.price}}</td>
                <td>{{item.skill}}</td>
                <td> 
                    <button  class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #modal-example" (click)="editForm(item.$key)">Edit</button></td>
                <td> <button class="uk-button uk-button-danger uk-button-small" (click)="onDelete(item.$key)">Delete</button></td>


                <div id="modal-example" uk-modal>
                    <div class="uk-modal-dialog uk-modal-body">
                        <fieldset class="uk-fieldset">
                    
                            <legend class="uk-legend">Add skill</legend>
                    
                            <div class="uk-margin">
                                <input class="uk-input" type="text" placeholder="Name" name="name" [(ngModel)]="data.name">
                            </div>
                
                            <div class="uk-margin">
                                <input class="uk-input" type="text" placeholder="Phone" name="phone" [(ngModel)]="data.phone">
                            </div>
                
                            <div class="uk-margin">
                                <input class="uk-input" type="text" placeholder="skill" name="skill" [(ngModel)]="data.skill">
                            </div>
                
                            <div class="uk-margin">
                                <input class="uk-input" type="text" placeholder="Price" name="price" [(ngModel)]="data.price">
                            </div>
                    
                            <div class="uk-margin">
                                <textarea class="uk-textarea" rows="5" placeholder="Comments" name="comment" [(ngModel)]="data.comment"></textarea>
                            </div>
                    
                        </fieldset>
                        <p class="uk-text-right">
                            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                            <button class="uk-button uk-button-primary uk-modal-close" type="button" (click)="onEdit(item.$key)">Save</button>
                        </p>
                    </div>
                </div>
            </tr>
        </tbody>
    </table>
</div>

