<div class="uk-padding">
  <div class="uk-card uk-card-default">
    <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                <img class="uk-border-circle" width="40" height="100" src="../../assets/download.jpg">
            </div>
            <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">{{data.name}}</h3>
                <p class="uk-text-meta uk-margin-remove-top">{{data.skill}}</p>
            </div>
        </div>
    </div>
    <div class="uk-card-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
    </div>
    <div class="uk-card-footer">
        <p>{{data.email}}</p>
        <p>{{data.phone}}</p>
        <p>{{data.comment}}</p>
    </div>
  </div>
</div>